* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; /* Hide the default cursor */
}

body {
  height: 100vh;
  background-color: #0066b2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.coming-soon {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  animation: fadeIn 2s ease-in-out;
}

p {
  font-size: 1.5rem;
  margin-top: 20px;
  animation: slideUp 3s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}



.cursor-trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: trailFade 1s forwards;
}

@keyframes trailFade {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}
