body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: block;
    
}

h1 {
    text-align: center;
    color: #333;
}

label, button {
    display: block;
    margin: 15px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
}

.link{
    text-align: center;
    
}
.link:hover{
    background-color: white;
    color: black;
}