body {
    font-family: Arial, sans-serif;
    background-color: #3636CD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 60px -2px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 1px 1px 60px -2px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 1px 1px 60px -2px rgba(0, 0, 0, 0.77);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3636CD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0000ff;
}

#result {
    margin-top: 20px;
    text-align: center;
}
